[user]
	name = Alex Robbins
	email = alexander.j.robbins@gmail.com

[alias]
  ci = commit
	st = status
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
[merge]
    tool=gvimdiff
